Package: linux-image-3.13.11-ckt39-custom
Source: linux-source-3.13.11-ckt39-custom
Version: 3.13.11-ckt39-custom-10.00.Custom
Architecture: i386
Maintainer: Unknown Kernel Package Maintainer <unknown@unconfigured.in.etc.kernel-pkg.conf>
Installed-Size: 8342
Pre-Depends: debconf (>= 0.2.17) | debconf-2.0
Depends: coreutils (>= 5.96)
Suggests: fdutils, linux-doc-3.13.11-ckt39-custom | linux-source-3.13.11-ckt39-custom, ksymoops, linux-image-3.13.11-ckt39-custom-dbg
Provides: linux-image, linux-image-3.13
Section: kernel
Priority: optional
Description: Linux kernel binary image for version 3.13.11-ckt39-custom
 This package contains the Linux kernel image for version
 3.13.11-ckt39-custom.
 .
 It also contains the corresponding System.map file, and the modules
 built by the packager.  It also contains scripts that try to ensure
 that the system is not left in a unbootable state after an update.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources. Please look at kernel-img.conf(5),
 and /usr/share/doc/kernel-package/README.gz  from the package kernel-package
 for details on how to tailor the  installation of this or any other kernel
 image package
